@import './variables';
.manage-main {
    width: 70%;
    margin: 50px auto;
    .list-project {
        margin: 30px auto;
    }
    .donator-name {
        color: $black;
        &:hover {
            color: $blue;
        }
    }
}

.slider_area {
    .slider_bg_1 {
        background-image: url('https://www.globalgiving.org/img/banners/hero_give_lg.jpg');
        height: 25em;
    }
    .single_slider .slider_text {
        h3 {
            font-size: 64px;
        }
    }
}