.header {
    display: fixed;
    height: 100px;
    background-color: rgb(109, 109, 207);
    font-size: 1rem;
    font-weight: 600;
    .logo {
        margin-top: 12px;
        padding-left: 30px;
        img {
            width: 80px;
        }
    }
    .menu {
        margin-top: 30px;
        padding: 0px 30px;
        .nav-tabs {
            border-bottom: none;
            justify-content: flex-end;
            .nav-item {
                margin-right: 10px;
                a {
                    display: inline-block;
                    padding: 5px 10px;
                }
            }
            .nav-item.active {
                border-bottom: 2px solid red;
            }
        }
    }
}
