@import "variables";
.create-project {
    justify-content: flex-end;
    margin-bottom: 30px;
    padding-right: 30px;
    button {
        border-radius: 8px;
        background-color: $cyan;
        font-size: 1rem;
    }
}

.list-project,
.list-host {
    .fa-pencil-square-o {
        color: rgb(70, 70, 224);
    }
    .fa-trash {
        color: red;
    }
    .fa-lock,
    .fa-unlock {
        color: black;
    }
    .un-approved {
        color: red;
    }
    .approved {
        color: rgb(103, 219, 103);
    }
}

th,
td {
    text-align: center;
}