.manage {
    padding: 10px 30px;
}

p.title {
    font-style: italic;
    text-align: center;
}

.wrap-image {
    text-align: center;
}

.text-reference {
    display: inline-block;
    margin: 20px 0px;
    border-bottom: 2px solid rgb(72, 72, 214);
}

.reference {
    display: flex;
    .event-reference {
        img {
            width: 100%;
        }
    }
}