body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrap-form {
    display: flex;
    margin-top: 100px;
    width: 70%;
    form {
        width: 100%;
    }
    .wrap {
        display: flex;
        justify-content: center;
    }
    .wrap-item {
        width: 45%;
        margin: 10px 5px 0px 5px;
    }
    .select-role {
        margin-top: 20px;
        padding-left: 30px;
        .item-select {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .btn-submit {
        width: 150px;
        margin-top: 30px;
    }
    .upload-file {
        display: flex;
        margin: 20px 0px -40px 0px;
        .frame-image {
            width: 50%;
            margin-right: 10px;
            text-align: center;
            img {
                width: 75%;
                height: 65%;
                display: inline-block;
                border: 1px dotted gray;
            }
        }
    }
}

#link-login {
    color: red;
}
