// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    background-color: $body-bg;
}

.manage-main {
    margin-top: 50px;
}

a {
    color: white;
}

a:donator.list.project {
    text-decoration: none;
}

.hidden {
    display: none;
}

.btn-pink {
    background-color: $pink;
    color: $white;
    &:donator.list.project,
    &:focus {
        color: $white;
    }
}

.alert-danger {
    padding: 0;
    color: $red;
    background-color: $white;
    border: none;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.btn-pink:not(:disabled):not(.disabled).active,
.btn-pink:not(:disabled):not(.disabled):active,
.show>.btn-pink.dropdown-toggle {
    color: #fff;
    border-color: $pink;
    background-color: $pink;
}

.opacity-hidden {
    opacity: 0;
}

.color-red {
    color: $red !important;
}

@media (min-width: 1800px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px;
    }
}

.breadcrumb-top-title-page {
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0px 0px 30px 0px;
    border-bottom: 2px solid black;
}

.main-content {
    padding: 0px 50px 50px 50px;
}

button:disabled {
    pointer-events: none
}

.btn.disabled {
    background-color: $btnDisable;
}

.modal-backdrop.show {
    opacity: 0.3;
}

.btn-danger {
    border: 2px solid $btnDelete !important;
    background-color: $btnDelete !important;
}

.form-control {
    border: 1px solid $dark1;
    color: $black;
}

.form-control:focus {
    color: $black;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

.error {
    color: $red;
    font-weight: 500;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.group-button {
    margin-bottom: 40px;
    .btn-item {
        border: 1px solid $gray;
        border-radius: 20px;
        padding: 7px 10px;
        width: 160px;
    }
}

table th,
tr,
td {
    font-size: 1 rem;
}

th {
    text-align: center;
}

.manage {
    margin-top: 20px;
}

.text-error {
    color: red;
    font-weight: bold;
}