@import "_variables";
.card-header {
    margin: -20px 15px 20px 15px;
    padding: 15px;
    position: relative;
    z-index: 3 !important;
    background-color: #ab47bc;
    border-radius: 5px !important;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
    h4,
    p {
        color: $white_color;
    }
}

.password {
    position: relative;
    .fa-eye-slash {
        position: absolute;
        top: 60%;
        right: 10%;
    }
}